APP_PORT = 
APP_HOST = 
API_HOST = 
API_PORT = 
DB_PORT = 
DB_HOST = 
DB_PASSWORD = 
DB_USER = 
DB = 
MAIL_USERNAME = 
MAIL_PASSWORD = 
MINIO_ROOT_USER = 
MINIO_ROOT_PASSWORD = 
MINIO_LISTING_BUCKET = 
MINIO_USER_BUCKET = 
MINIO_ENDPOINT = 
JWT_SECRET = 